* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
  text-align: center;

}

header {
  align-items: center;
  text-align: center;
  background-color: snow;
  padding: 20px;
}

article {
  width: 100%;
  background-color: white;
  display: flex;
}

.PointContainer {
  display: flex;
  text-align: right;
  font-size: 30px;
}

.ButtonMenu {
  width: 100%;
}

.ButtonMenu img {
  height: 200px;
  width: 200px;
  padding: 10px;
}

img:hover {
  cursor: pointer;
  transition: 0.5s;
}

.grid-container {

  display: grid;
  grid-template-columns: 160% 160% 160% 160% 160%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}
.grid-item {
  
  color: white;
  padding: 15px;
  font-size: 30px;
  grid-column: 3;
  grid-row: 2;
  
}