* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
  text-align: center;
  padding: 20px;
}

header {
  height: 900px;
  background-color: snow;
}

.ButtonMenu img {
  height: 100px;
  width: 100px;
  padding: 10px;
}

label {
  font-size: 40px;
}

img:hover {
  cursor: pointer;
  transition: 0.5s;
}
